<section id="about" class="about-us">
  <div class="container">
    <div class="about-us-desk">
      <div class="about-us-content">
        <h2 class="about-us-title">About Us</h2>
        <div class="about-collection">
          <p>
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your wrist.
          </p>
          <p>
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device – it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best?
          </p>
        </div>
        <a href="#catalog" class="button-viem-catalog">View catalog</a>
      </div>
      <picture>
        <source
          srcset="
            /img/about/about-desk.webp    1x,
            /img/about/about-desk@2x.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/about/about-tab-min.webp 1x,
            /img/about/about-tab@2x.webp  2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="/img/about/about-mob.webp 1x, /img/about/about-mob@2x.webp 2x"
          media="(max-width: 767px)"
        />
        <img
          src="/img/about/about-desk.webp"
          alt="analog wristwatch on fabric"
          width="704"
          class="about-us-image"
        />
      </picture>
    </div>
  </div>
</section>
