<section class="advertisement">
    <div class="container">
      <div class="container-advertisement">
        <div class="flex-container-advertisement">
          <h2 class="text-advertisement">
            Choose <span class="gray-text">your story</span>, making every moment
            unique. Time is your style, and we reveal it.
          </h2>
          <div class="btn-advertisement-box">
            <a class="btn-advertisement" href="#contact">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>