<section class="catalog" id="catalog">
    <div class="container">
        <h2 class="main-title">Сatalog</h2>
        <ul class="main-menu">
            <li class="menu-item">
                <div class="item-box">
                    <div  class="img-item">
                    <picture>
                        <source srcset="/img/catalog/catalog-fenix7-desk.webp 1x, 
                                        /img/catalog/catalog-fenix7-desk@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="/img/catalog/catalog-fenix7-tab.webp 1x, 
                                        /img/catalog/catalog-fenix7-tab@2x.webp 2x" media="(min-width: 768px)">
                        <source srcset="/img/catalog/catalog-fenix7-mob.webp 1x, 
                                        /img/catalog/catalog-fenix7-mob@2x.webp 2x" media="(max-width: 767px)">
                    <img src="/img/catalog/catalog-fenix7-desk.webp" alt="garmin-fenix7-pro" >
                    </picture>
                    </div>

                    <div class="sub-desc-box">
                        <h3 class="main-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
                        <h3 class="main-subtitle-tab">Garmin Fenix 7X Pro Sapphire...<span class="visually-hidden">Solar</span></h3>
                        <h3 class="main-subtitle-desk">Garmin Fenix 7X Pro Sapphire Sol...<span class="visually-hidden">ar</span></h3>
                        <p class="main-description">€500</p>
                    </div>
                </div>
            </li>

            <li class="menu-item">
                <div class="item-box">
                    <div class="img-item">
                    <picture>
                        <source srcset="/img/catalog/catalog-marq-desk.webp 1x, 
                                        /img/catalog/catalog-marq-desk@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="/img/catalog/catalog-marq-tab.webp 1x, 
                                        /img/catalog/catalog-marq-tab@2x.webp 2x" media="(min-width: 768px)">
                        <source srcset="/img/catalog/catalog-marq-mob.webp 1x, 
                                        /img/catalog/catalog-marq-mob@2x.webp 2x" media="(max-width: 767px)">
                        <img src="/img/catalog/catalog-marq-desk.webp" alt="garmin-marq">
                    </picture>
                    </div>
                    <div class="sub-desc-box">
                        <h3 class="main-subtitle">Garmin Marq Athlete</h3>
                        <h3 class="main-subtitle-tab">Garmin Marq Athlete</h3>
                        <h3 class="main-subtitle-desk">Garmin Marq Athlete</h3>
                        <p class="main-description">€450</p>
                    </div>
                </div>
            </li>

            <li class="menu-item">
                <div class="item-box">
                    <div class="img-item">
                    <picture>
                        <source srcset="/img/catalog/catalog-descent-desk.webp 1x, 
                                        /img/catalog/catalog-descent-desk@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="/img/catalog/catalog-descent-tab.webp 1x, 
                                        /img/catalog/catalog-descent-tab@2x.webp 2x" media="(min-width: 768px)">
                        <source srcset="/img/catalog/catalog-descent-mob.webp 1x, 
                                        /img/catalog/catalog-descent-mob@2x.webp 2x" media="(max-width: 767px)">
                        <img src="/img/catalog/catalog-descent-desk.webp" alt="garmin-descent">
                    </picture>
                    </div>
                    <div class="sub-desc-box">
                        <h3 class="main-subtitle">Garmin Descent MK1</h3>
                        <h3 class="main-subtitle-tab">Garmin Descent MK1</h3>
                        <h3 class="main-subtitle-desk">Garmin Descent MK1</h3>
                        <p class="main-description">€680</p>
                    </div>
                </div>
            </li>

            <li class="menu-item">
                <div class="item-box">
                    <div class="img-item">
                    <picture>
                        <source srcset="/img/catalog/catalog-delta-desk.webp 1x, 
                                        /img/catalog/catalog-delta-desk@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="/img/catalog/catalog-delta-tab.webp 1x, 
                                        /img/catalog/catalog-delta-tab@2x.webp 2x" media="(min-width: 768px)">
                        <source srcset="/img/catalog/catalog-delta-mob.webp 1x, 
                                        /img/catalog/catalog-delta-mob@2x.webp 2x" media="(max-width: 767px)">
                        <img src="/img/catalog/catalog-delta-desk.webp" alt="garmin-delta">
                    </picture>
                    </div>
                    <div class="sub-desc-box">
                        <h3 class="main-subtitle">Garmin D2 Delta PX</h3>
                        <h3 class="main-subtitle-tab">Garmin D2 Delta PX</h3>
                        <h3 class="main-subtitle-desk">Garmin D2 Delta PX</h3>
                        <p class="main-description">€380</p>
                    </div>
                </div>
            </li>

            <li class="menu-item img-none">
                <div class="item-box ">
                    <div class="img-item">
                    <picture>
                        <source srcset="/img/catalog/catalog-fenix6-desk.webp 1x, 
                                        /img/catalog/catalog-fenix6-desk@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="/img/catalog/catalog-fenix6-tab.webp 1x, 
                                        /img/catalog/catalog-fenix6-tab@2x.webp 2x" media="(min-width: 768px)">
                        <source srcset="/img/catalog/catalog-fenix6-mob.webp 1x, 
                                        /img/catalog/catalog-fenix6-mob@2x.webp 2x" media="(max-width: 767px)">
                        <img src="/img/catalog/catalog-fenix6-desk.webp" alt="garmin-fenix-6" >
                    </picture>
                    </div>
                    <div class="sub-desc-box">
                        <h3 class="main-subtitle">Garmin Fenix 6 Pro Solar</h3>
                        <h3 class="main-subtitle-tab">Garmin Fenix 6 Pro Solar</h3>
                        <h3 class="main-subtitle-desk">Garmin Fenix 6 Pro Solar</h3>
                        <p class="main-description">€400</p>
                    </div>
                </div>
            </li>

            <li class="menu-item img-none">
                <div class="item-box">
                    <div class="img-item">
                    <picture>
                        <source srcset="/img/catalog/catalog-tube-desk.webp 1x, 
                                        /img/catalog/catalog-tube-desk@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="/img/catalog/catalog-tube-tab.webp 1x, 
                                        /img/catalog/catalog-tube-tab@2x.webp 2x" media="(min-width: 768px)">
                        <source srcset="/img/catalog/catalog-tube-mob.webp 1x, 
                                        /img/catalog/catalog-tube-mob@2x.webp 2x" media="(max-width: 767px)">
                        <img src="/img/catalog/catalog-tube-desk.webp" alt="garmin-tube">
                    </picture>
                    </div>
                    <div class="sub-desc-box">
                        <h3 class="main-subtitle">Tube Watch S42 Date Steel With Black Case</h3>
                        <h3 class="main-subtitle-tab">Tube Watch S42 Date Steel W...<span class="visually-hidden">ith Black Case</span></h3>
                        <h3 class="main-subtitle-desk">Tube Watch S42 Date Steel With...<span class="visually-hidden">Black Case</span></h3>
                        <p class="main-description">€395</p>
                    </div>
                </div>
            </li>     
        </ul>

        <div class="show-more-btn">
            <button class="show-more" type="button">Show more</button>
        </div>

    </div>
</section>