<section class="contact">
  <div class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="contact-box">
      <div class="contact-modal-form">
        <p class="contact-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-form" name="contact-form">
          <div class="contact-form-container">
            <label class="contact-form-label" for="user-name">
              <input
                class="contact-form-input"
                type="text"
                name="user-name"
                id="user-name"
                placeholder="Name"
                required
                autofocus
              />
            </label>
          </div>
          <div class="contact-form-container">
            <label class="contact-form-label" for="email"> 

           
              <input
                class="contact-form-input"
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                required
                autocomplete="on"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              />
            
            </label>
          </div>
             <div class="contact-form-container">
            <label class="contact-form-label" for="phone"> 

           
              <input
                class="contact-form-input"
                type="tel"
                name="phone"
                id="phone"
                placeholder="+380"
                  required
               autocomplete="on"
               pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
              />
            
            </label>
          </div>
          <div class="contact-form-container-comment">
            <label class="contact-form-label" for="user-comment">
             
            <textarea
              class="contact-form-textarea"
                            id="user-comment"
                            
              name="user-comment"
              placeholder="Comment"
            ></textarea>
             </label
            >
          </div>
       
          
          
          <button class="form-button" type="submit">Send</button>
        </form>
        </div>
     
      <picture>
        <source
          srcset="
            /img/contact/contact-desk.jpg    1x,
            /img/contact/contact-desk@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/contact/contact-tab.jpg     1x,
            /img/contact/contact-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/contact/contact-mob.jpg     1x,
            /img/contact/contact-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="/img/contact/contact-mob.jpg" alt="clock on stone" />
      </picture>
       </div>
    </div>
  </div>
</section>

