<div class="footer" id="footer">
  <div class="container">
    <div class="footer-box">
      <div class="footer-box-contact">
        <div class="footer-box-logoicon">
          <a class="footer-logo" href="/team-first/index.html">watchcharm</a>
          <ul class="footer-box-icon-list">
            <li class="footer-box-icon-item">
              <a
                class="footer-box-icon-link"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-box-icon-svg">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-box-icon-item">
              <a
                class="footer-box-icon-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-box-icon-svg">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-box-icon-item">
              <a
                class="footer-box-icon-link"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-box-icon-svg">
                  <use href="/img/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <address class="footer-box-tel">
          <a class="phone-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </address>
        <p class="footer-box-contact-descr">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </p>
      </div>
      <div class="footer-box-nav">
        <ul class="footer-box-nav-list">
          <li class="footer-box-nav-item">
            <a href="#home" class="footer-box-nav-link">Home</a>
          </li>
          <li class="footer-box-nav-item">
            <a href="#about" class="footer-box-nav-link">About Us</a>
          </li>
          <li class="footer-box-nav-item">
            <a href="#catalog" class="footer-box-nav-link">Catalog</a>
          </li>
          <li class="footer-box-nav-item">
            <a href="#sale" class="footer-box-nav-link">Sale</a>
          </li>
          <li class="footer-box-nav-item">
            <a href="#reviews" class="footer-box-nav-link">Reviews</a>
          </li>
          <li class="footer-box-nav-item">
            <a href="#contact" class="footer-box-nav-link">Contact Us</a>
          </li>
        </ul>
        <address class="footer-box-nav-address">
          <p class="footer-box-nav-address-descr">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </p>
        </address>
      </div>
      <div class="footer-box-copyright">
        <p class="footer-box-copyright-descr">
          ©2023 The Watch Spot. All rights reserved.
        </p>
        <ul class="footer-box-copyright-list">
          <li class="footer-box-copyright-item">
            <a href="#" class="footer-box-copyright-link">Terms of Service</a>
          </li>
          <li class="footer-box-copyright-item">
            <a href="#" class="footer-box-copyright-link">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
