<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-box">
      <div class="footer-box-contact">
        <div class="footer-box-logoicon">
          <a class="footer-logo" href="/index.html">watchcharm</a>
          <ul class="footer-box-icon-list">
            <li class="footer-box-icon-item">
              <a
                class="footer-box-icon-link"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-box-icon-svg" width="18" height="18">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-box-icon-item">
              <a
                class="footer-box-icon-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-box-icon-svg" width="18" height="18">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-box-icon-item">
              <a
                class="footer-box-icon-link"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-box-icon-svg" width="18" height="18">
                  <use href="/img/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <address class="footer-box-tel">
          <a class="phone-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </address>
        <p class="footer-box-contact-descr">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </p>
      </div>
      <div class="footer-box-nav"></div>
      <div clas="footer-box-copyright"></div>
    </div>
  </div>
</footer>
