<section class="header">
  <div class="container header-container">
    <div class="header-nav">
      <a href="../index.html" class="header-logo">watchcharm</a>
      <nav class="header-nav-content">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#home" class="nav-link nav-link-active">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#catalog" class="nav-link">Catalog</a>
          </li>
          <li class="nav-item">
            <a href="#sale" class="nav-link">Sale</a>
          </li>
          <li class="nav-item">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <ul class="social-list">
        <li class="social-item">
          <a href="https://www.facebook.com/goITclub/" class="social-link">
            <svg class="social-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="https://www.instagram.com/goitclub/" class="social-link"
            ><svg class="social-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a href="https://www.youtube.com/c/GoIT" class="social-link"
            ><svg class="social-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
      <button type="button" class="menu-btn" data-menu-open>
        <svg class="menu-btn-icon" width="40" height="40">
          <use href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<div class="mob-menu" data-menu>
  <div class="mob-menu-container">
    <button type="button" class="mob-menu-btn" data-menu-close>
      <svg class="mob-menu-icon" width="34" height="34">
        <use href="/img/sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="nav-list mob-menu-nav-list">
        <li class="nav-item mob-menu-nav-item">
          <a href="#home" class="nav-link mob-menu-link mob-menu-active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link mob-menu-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="#catalog" class="nav-link mob-menu-link">Catalog</a>
        </li>
        <li class="nav-item">
          <a href="#sale" class="nav-link mob-menu-link">Sale</a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link mob-menu-link">Reviews</a>
        </li>
        <li class="nav-item" id="contact">
          <a href="" class="nav-link mob-menu-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="social-list mob-social-list">
      <li class="social-item mob-social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-link mob-social-link"
        >
          <svg class="social-icon mob-social-icon" width="18" height="18">
            <use href="/img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item mob-social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-link mob-social-link"
          ><svg class="social-icon mob-social-icon" width="18" height="18">
            <use href="/img/sprite.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="social-item mob-social-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-link mob-social-link"
          ><svg class="social-icon mob-social-icon" width="18" height="18">
            <use href="/img/sprite.svg#icon-youtube"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</div>
