<section class="hero" id="hero">
  <div class="container hero-container">
      <div class="hero-text-box">
          <h1 class="hero-title">Welcome to our <span class="highlight">collection</span> of premium watches
          </h1>
          <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality
              and
              lifestyle.
              From classic designs to
              modern ones, we have a watch to suit every taste and occasion.</p>
      </div>
      <div class="hero-images-scroll">
          <ul class="hero-list">
              <li class="hero-item">
                  <picture class="hero-image">
                      <source srcset="/img/hero/h-victoria-desk.webp 1x, /img/hero/h-victoria-desk@2x.webp 2x"
                          media="(min-width: 1280px)">
                      <source srcset="/img/hero/h-victoria-tab.webp 1x, /img/hero/h-victoria-tab@2x.webp 2x"
                          media="(min-width: 768px)">
                      <source srcset="/img/hero/victoria-mob.webp 1x, /img/hero/victoria-mob@2x.webp 2x"
                          media="(max-width: 767px)">
                      <img src="/img/hero/victoria-mob.webp" alt="victoria romashenko" width="44" height="44"
                          class="hero-img">
                  </picture>
              </li>
              <li class="hero-item">
                  <picture class="hero-image">
                      <source srcset="/img/hero/h-john-desk.webp 1x, /img/hero/h-john-desk@2x.webp 2x"
                          media="(min-width: 1280px)">
                      <source srcset="/img/hero/h-john-tab.webp 1x, /img/hero/h-john-tab@2x.webp 2x"
                          media="(min-width: 768px)">
                      <source srcset="/img/hero/h-john-mob.webp 1x, /img/hero/h-john-mob@2x.webp 2x"
                          media="(max-width: 767px)">
                      <img src="/img/hero/h-john-mob.webp" alt="john wax" width="44" height="44" class="hero-img">
                  </picture>
              </li>
              <li class="hero-item">
                  <picture class="hero-image">
                      <source srcset="/img/hero/h-anastasia-desk.webp 1x, /img/hero/h-anastasia-desk@2x.webp 2x"
                          media="(min-width: 1280px)">
                      <source srcset="/img/hero/h-anastasia-tab.webp 1x, /img/hero/h-anastasia-tab@2x.webp 2x"
                          media="(min-width: 768px)">
                      <source srcset="/img/hero/anastasia-mob.webp 1x, /img/hero/anastasia-mob@2x.webp 2x"
                          media="(max-width: 767px)">
                      <img src="/img/hero/anastasia-mob.webp" alt="anastasia trachuk" width="44" height="44"
                          class="hero-img">
                  </picture>
              </li>
          </ul>
          <a href="#footer" class="scroll-link">Scroll down</a>
      </div>
      <div class="hero-picture">
          <picture class="hero-pic">
              <source srcset="/img/hero/hero-desk.webp 1x,
                                          /img/hero/hero-desk@2x.webp 2x
                                        " media="(min-width: 1280px)" />
              <source srcset="/img/hero/hero-tab.webp 1x,
                                          /img/hero/hero-tab@2x.webp 2x" media="(min-width: 768px)" />
              <source srcset="/img/hero/hero-mob.webp 1x,
                                          /img/hero/hero-mob@2x.webp 2x" media="(max-width: 767px)" />
              <img src="/img/hero/hero-mob.webp" alt="hero photo" width="335" height="366" />
          </picture>
      </div>
  </div>
</section>