<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="gallery-desk">
      <div class="gallery-tabl">
        <div class="gallery">
          <picture>
            <source
              srcset="
                /img/sale/sale-side1-desk.webp    1x,
                /img/sale/sale-side1-desk@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/sale/sale-side1-tab.webp    1x,
                /img/sale/sale-side1-tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/sale-side1-mob.webp    1x,
                /img/sale/sale-side1-mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/sale/sale-side1-desk.webp"
              alt="Black watch"
              width="80"
              height="80"
            />
          </picture>
          <picture>
            <source
              srcset="
                /img/sale/sale-side2-desk.webp    1x,
                /img/sale/sale-side2-desk@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/sale/sale-side2-tab.webp    1x,
                /img/sale/sale-side2-tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/sale-side2-mob.webp    1x,
                /img/sale/sale-side2-mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/sale/sale-side2-desk.webp"
              alt=" Black watch "
              width="80"
              height="80"
            />
          </picture>
          <picture>
            <source
              srcset="
                /img/sale/sale-side3-desk.webp    1x,
                /img/sale/sale-side3-desk@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/sale/sale-side3-tab.webp    1x,
                /img/sale/sale-side3-tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/sale-side3-mob.webp    1x,
                /img/sale/sale-side3-mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/sale/sale-side3-desk.webp"
              alt=" Black watch "
              width="80"
              height="80"
            />
          </picture>
          <picture>
            <source
              srcset="
                /img/sale/sale-side4-desk.webp    1x,
                /img/sale/sale-side4-desk@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/sale/sale-side4-tab.webp    1x,
                /img/sale/sale-side4-tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/sale-side4-mob.webp    1x,
                /img/sale/sale-side4-mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/sale/sale-side4-desk.webp"
              alt=" Black watch "
              width="80"
              height="80"
            />
          </picture>
        </div>

        <div class="container sale-main-image">
          <picture>
            <source
              srcset="
                /img/sale/sale-desk.webp    1x,
                /img/sale/sale-desk@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="/img/sale/sale-tab.webp 1x, /img/sale/sale-tab@2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/sale/sale-mob.webp 1x, /img/sale/sale-mob@2x.webp 2x"
              media="(max-width: 767px)"
            />
            <img
              src="/img/sale/sale-desk.webp"
              alt=" Big black watch "
              width="335"
            />
          </picture>
        </div>
      </div>

      <div class="container product-info">
        <div class="product-name">
          <h3 class="sale-subtitle">
            MARQ® Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="sale-item">Product tag: 706587</p>
        </div>
        <div class="sale-price">
          <span class="sale-new-price">€1500</span>
          <span class="sale-old-price">€3000</span>
        </div>
        <p class="sale-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>

        <ul class="sale-tags">
          <li class="sale-tags-item">Fused carbon fiber</li>
          <li class="sale-tags-item">Grade-5 Titanuim</li>
          <li class="sale-tags-item">Athlete</li>
          <li class="sale-tags-item">Golfer</li>
          <li class="sale-tags-item">Commander</li>
          <li class="sale-tags-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
