.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.container.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-top: 27.5px;
  padding-bottom: 27.5px;
}

.nav-list {
  display: none;
}

.social-list {
  display: none;
}

.menu-btn {
  background-color: transparent;
  border: none;
}

.menu-btn-icon {
  display: block;
  stroke: #0c0c0c;
}

/* =============== MEDIA =============== */

@media screen and (min-width: 375px) and (max-width: 767px) {
  /* .container.header-container {
    min-width: 375px;
    max-width: 767px;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-logo {
    font-weight: 500;
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }

  .container.header-container {
    display: block;
  }

  .header-logo {
    font-weight: 500;
    font-size: 20px;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #0c0c0c;
    padding-top: 26px;
    padding-bottom: 26px;
    overflow: hidden;
  }

  .nav-link.nav-link-active::after {
    content: '';
    position: absolute;
    left: 40%;
    bottom: 24px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3350e9;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after {
    transform: translateY(70%);
  }

  .social-list {
    display: flex;
    gap: 10px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .social-item {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid rgba(12, 12, 12, 0.1);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-icon {
    fill: #0c0c0c;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-item:hover,
  .social-item:focus,
  .social-item:active {
    border: 1px solid rgba(51, 80, 233, 0.1);
  }

  .social-item:hover .social-icon,
  .social-item:focus .social-icon,
  .social-item:active .social-icon {
    fill: #3350e9;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/img/header/mob-menu-mob.webp);

  @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (-webkit-min-device-pixel-ratio: 2) {
    .mob-menu {
      background-image: url(/img/header/mob-menu-mob@2x.webp);
    }
  }

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: transform 0.3s ease, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translateX(0);
}

.mob-menu-container {
  position: relative;
  padding-top: 240px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mob-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.mob-menu-icon {
  stroke: #fbfbfb;
}

.mob-menu-nav {
  margin-bottom: auto;
}

.mob-menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
}

.mob-menu-active::after {
  content: '';
  position: absolute;
  left: 40%;
  bottom: 24px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;

  /* transform: translateY(100%); */
  transform: translate(100%, -100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover::after {
  transform: translateY(70%);
}

.mob-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.mob-social-item {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  border: 1px solid rgba(251, 251, 251, 0.1);
}

.mob-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-social-icon {
  fill: #fbfbfb;
}

/* =============== MEDIA =============== */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mob-menu {
    min-width: 330px;
    background-image: url(/img/header/mob-menu-tab.webp);
  }

  @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (-webkit-min-device-pixel-ratio: 2) {
    .mob-menu {
      background-image: url(/img/header/mob-menu-tab@2x.webp);
    }

    .mob-menu-container {
      padding-top: 310px;
      padding-bottom: 50px;
    }

    .mob-menu-btn {
      position: absolute;
      top: 26px;
      right: 32px;
      width: 40px;
      height: 40px;
    }

    .mob-menu-icon {
      width: 40px;
      height: 40px;
    }

    .mob-social-item {
      width: 36px;
      height: 36px;
    }

    .mob-social-icon {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }
}
