.container{
    padding: 20px;
}




.reviews-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.reviews-list{
display: flex;
justify-content: center;
}

.reviews-item{
border-radius: 30px;
    padding: 32px 36px;
    width: 100%;
    background-color: #f3f3f3;
    padding: 32px 36px;
}

.reviews-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
    margin-bottom: 8px;
}

.reviews-item-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
}

.reviews-image{
    border-radius: 100%;
        stroke-width: 2px;
        stroke: #fbfbfb;
        width: 56px;
        height: 56px;
        margin-bottom: 24px;
}

.avatar-container{
    display: flex;
    justify-content: center;
}

ul li {
    display: none;
}

ul li:first-child {
    display: block;
}


@media (min-width:768px) {
    .reviews-list .reviews-item:nth-child(2) {
        display: block;
    }

    .reviews-list{
        gap: 16px;
    }

    .reviews-title{
            font-weight: 600;
            font-size: 48px;
            line-height: 92%;
            letter-spacing: -0.02em;
            color: #0c0c0c;
    }

    .reviews-subtitle{
            font-weight: 500;
            font-size: 18px;
            line-height: 110%;
            letter-spacing: -0.02em;
            text-align: center;
            color: #0c0c0c;
    }

    .reviews-item-text{
            font-weight: 500;
            font-size: 16px;
            line-height: 125%;
            letter-spacing: -0.02em;
            text-align: center;
            color: rgba(12, 12, 12, 0.4);
    }

    .reviews-item{
        min-width: 344px;
    }

    .reviews-title{
        margin-bottom: 40px;
    }
}

@media (min-width:1280px) {
    .reviews-list .reviews-item{
        display: block;
    }

    .reviews-list{
gap: 20px;
    }

    .reviews-item{
        min-width: 370px;
    }
    
}